@import "tailwindcss";

html {
  -webkit-text-size-adjust: 100%;
}

body {
  overscroll-behavior: none;
}

button,
a,
input,
select,
textarea {
  touch-action: manipulation;
}

.safe-top {
  padding-top: env(safe-area-inset-top);
}

.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}
